*{
	padding:0;
	margin:0;	
}

body{
	min-width:950px;
}

div.backimg{
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-image:url('background.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
	z-index:-2;
}
div.backefct{
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:-1;
	background-image:url('picefct.png');
}
div.container{

}

div.header{
	height:40px;
	position:fixed;
	left:0;
	right:0;
	top:0;
	background-color:#000;	
}

div.footer{
	height:50px;
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	background-color:#000;	
}


div.main{
	width:950px;
	height:600px;
	position:absolute;
	top:55px;
	bottom:55px;
	left:0;
	right:0;
	margin:auto;
}

div.menu{
	float:right;
	width:250px;
	height:585px;
	padding-top:0.1px;
	background-color:white;
}

div.up{
	width:250px;
	min-height:140px;
	padding-top:0.1px;
}

div.pic1{
    height:140px;
	width:250px;
	background-image:url('6.jpeg');
	background-repeat:no-repeat;
	background-size:250px 140px;	
}

div.down{
	min-width:250px;
	height:445px;	
}

div.down ul{
	direction:rtl;
	list-style:none;
	margin-right:15px;
	padding-right:15px;	
}

div.down li{
	
	font-size:16px;
}

div.down li:hover{
	font-size:18px;
	background-color:#09F;
	width:170px;
	
}

div.down a{
	text-decoration:none;	
	padding:8px;
	color:#09C;
	display:block;
	width:170px;
}
div.down a:hover{
	color:#FFF;
	width:170px;
	padding:170
}

div.content{
	margin-right:265px;
	height:585px;
	background-color:#FFF;
	overflow:auto;
}

div.subject{
	height:100px;
	padding-top:0.1px;
}

div.pagename{
	float:right;
	height:40px;
	width:280px;
	margin-right:40px;
	margin-top:40px;
	text-align:right;
	font-size:24px;
	font-weight:bolder;
	font-family:"Courier New", Courier, monospace;
	color:#00F;
	text-align:center;
}

div.pagename:hover{
	text-shadow:#999 2px 2px 2px;
	color:#FFF;
	background-color:#33F;	
}

div.picture{
	float:left;
	height:120px;
	width:200px;
	margin:30px;	
}

div.text{
	margin-left:30px;
	height:485px;
	padding-top:0.1px;
	direction:rtl;
	margin-right:25px;
}

div.user{
	width:230px;
	height:70px;
	margin:30px;
	background-color:#9F0;
	border-radius:6px;
	padding-right: 5px;
	color:#FFF;
	font-weight:bold;
	font-family:"Courier New", Courier, monospace;
	-moz-transition:all 1s;
	-ms-transition:all 1s;
	-o-transition:all 1s;
	-webkit-transition:all 1s;
}

div.user:hover{
	box-shadow:#666 10px 10px 5px;
	width:235px;
	height:73px;
	-moz-transition:all 700ms;
	-ms-transition:all 700ms;
	-o-transition:all 700ms;
	-webkit-transition:all 700ms;
}

div.password{
	width:230px;
	height:70px;
	margin:30px;
	background-color:#3CF;
	border-radius:6px;
	padding-right: 5px;
	color:#FFF;
	font-weight:bold;
	font-family:"Courier New", Courier, monospace;
	-moz-transition:all 1s;
	-ms-transition:all 1s;
	-o-transition:all 1s;
	-webkit-transition:all 1s;	
}

div.password:hover{
	box-shadow:#666 10px 10px 5px;
	width:235px;
	height:73px;
	-moz-transition:all 700ms;
	-ms-transition:all 700ms;
	-o-transition:all 700ms;
	-webkit-transition:all 700ms;
}

div.mail{
	width:230px;
	height:70px;
	margin:30px;
	background-color:#F60;
	border-radius:6px;
	padding-right: 5px;
	padding-top: 3px;
	color:#FFF;
	font-weight:bold;
	font-family:"Courier New", Courier, monospace;
	-moz-transition:all 1s;
	-ms-transition:all 1s;
	-o-transition:all 1s;
	-webkit-transition:all 1s;
}

div.mail:hover{
	box-shadow:#666 10px 10px 5px;
	width:235px;
	height:73px;
	-moz-transition:all 700ms;
	-ms-transition:all 700ms;
	-o-transition:all 700ms;
	-webkit-transition:all 700ms;
}

div.tel:hover{
	box-shadow:#666 10px 10px 5px;
	width:235px;
	height:73px;
	-moz-transition:all 700ms;
	-ms-transition:all 700ms;
	-o-transition:all 700ms;
	-webkit-transition:all 700ms;
}
div.tel{
	width:230px;
	height:70px;
	margin:30px;
	background-color:#90C;
	border-radius:6px;
	padding-right: 15px;
	color:#FFF;
	font-weight:bold;
	font-family:"Courier New", Courier, monospace;
	-moz-transition:all 1s;
	-ms-transition:all 1s;
	-o-transition:all 1s;
	-webkit-transition:all 1s;
}


.signup{
	width:200px;
	height:25px;
	border-radius:5px;
	border:1px solid  #666;
	margin-top:10px;
	margin-right:5px;	
}
.submit{
	background-color:#333;
	color:#FFF;
	text-align:center;
	width:110px;
	height:35px;
	margin-right:30px;
	border-radius:5px;	
	font-family:"Courier New", Courier, monospace;
}
.submit:hover{
	box-shadow:#666 5px 5px 3px;
}

div.text p{
	padding-right:5px;	
}

.namekala{
	margin-left:350px;
	height:380px;
}

.sefaresh{
	float:left;
	width:200px;
	height:380px;
}

.gheymat{
	float:left;
	width:150px;
	height:380px;
}

div.text ul{
	list-style:none;
}

.namekala:hover{
	box-shadow:10px 10px 5px #666666;
}

.gheymat:hover{
	box-shadow:10px 10px 5px #666666;
}

.sefaresh:hover{
	box-shadow:10px 10px 5px #666666;
}

div.text li:nth-child(even) {
	background-color:#FFF;
}
div.text li:nth-child(odd) {
	background-color:#A7C8FF;
}

div.text li:hover{
	font-size:18px;
}

div.text li:first-child{
	border-radius:15px 15px 0 0;
	background-color:#09F;
	height:15px;
	text-align:center;
	font-weight:bolder;
	font-size:18px;
	font-family:"Courier New", Courier, monospace;
}

div.text li{
	padding:13px;
	border:1px solid #999;
	color:#FFF;
}

div.text a{
	text-decoration:none;
	color:#333;
}

div.namenews{
	float:right;
	min-height:60px;
	width:200px;
	padding-right:10px;
	font-family:"Courier New", Courier, monospace;
}

.mypic{
	width:200px;
	height:120px;	
}

div.left{
	
	float:left;
	width:300px;
	min-height:450px;
}

div.right{
	margin-left:300px;
 	min-height:450px;
	
	background-repeat:no-repeat;
	background-position:center;
	background-size:250px 350px;	
}

div.address{
	min-height:100px;
	width:200px;
	margin-left:108px;
	text-align:right;
	padding:3px;
	color:#333;
}

div.form{
	min-height:300px;
	width:280px;
	margin:0 8px;
	text-align:right;
	color:#333;
}

.txt{
 	width:260px;
	min-height:25px;
	font-family:"Courier New", Courier, monospace;
	color:#333;	
	border-radius:5px;
	border-color:#09C;
	box-shadow:#999 2px 2px 1px;
	text-shadow:1px 1px 1px #666666;
}

.button{
	font-family:"Courier New", Courier, monospace;
	width:70px;
	min-height:30px;
	color:#FFF;
	background-color:#09C;
	font-weight:bold;
	font-size:14px;
	border-radius:5px;
	box-shadow:#999 2px 2px 1px;
	text-shadow:1px 1px 1px #666666;
}


div.title{
	margin-left:80px;
	min-height:35px;
	width:200px;
	font-family:"Courier New", Courier, monospace;	
}

div.name{
	margin-top:10px;
	margin-left:10px;
	min-height:35px;
	width:270px;
}

div.email{
	margin-top:10px;
	margin-left:10px;
	min-height:35px;
	width:270px;
}

div.message{
	margin-top:8px;
	margin-left:10px;
	min-height:105px;
	width:270px;
}

div.send{
	margin-top:10px;
	margin-left:200px;
	min-height:30px;
	width:80px;	
}

div.clear{
	width:0;
	height:0;
	clear:both;
	overflow:hidden;	
}