*{
	padding:0;
	margin:0;	
}

body{
	min-width:950px;
}

div.backimg{
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-image:url('images/background.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
	z-index:-2;
}
div.backefct{
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:-1;
	background-image:url('images/picefct.png');
}
div.container{

}

div.header{
	height:40px;
	position:fixed;
	left:0;
	right:0;
	top:0;
	background-color:#000;	
}

div.footer{
	height:50px;
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	background-color:#000;	
}


div.main{
	width:950px;
	height:600px;
	background-color:white;
	position:absolute;
	top:45px;
	bottom:55px;
	left:0;
	right:0;
	margin:auto;
}

div.menu{
	float:right;
	width:250px;
	min-height:585px;
	padding-top:0.1px;
}

div.up{
	width:250px;
	min-height:140px;
	padding-top:0.1px;
}

div.pic1{
	min-height:140px;
	width:250px;
	background-image:url(images/6.jpeg);
	background-repeat:no-repeat;
	background-size:250px 140px;	
}

div.down{
	min-width:250px;
	min-height:445px;	
}

div.down ul{
	direction:rtl;
	list-style:none;
	margin-right:15px;
	padding-right:15px;	
}

div.down li{
	padding-top:8px;
}

div.down a{
	text-decoration:none;	
	padding:4px;
	margin-bottom:5px;
	color:#09C;
	outline:1px red dashed;
}

div.content{
	margin-right:250px;
	min-height:585px;
}

div.subject{
	min-height:100px;
	padding-top:0.1px;
}

div.pagename{
	float:right;
	min-height:40px;
	width:180px;
	margin-right:40px;
	margin-top:40px;
	text-align:right;
	font-size:24px;
	font-family:Tahoma, Geneva, sans-serif;
	color:#00F;
}

div.text{
	margin-left:30px;
	min-height:485px;
	padding-top:0.1px;
	direction:rtl;
	overflow:auto;
}
div.text p{
	padding-right:5px;	
}
div.product{
	min-height:450px;
	width:580px;
	margin:10px auto;	
}

div.product table.t1{
	direction:rtl;
	border:solid 1px #0066CC;
	width:300px;
	height:445px;
	border-radius:30px;
	margin-left:230px;
}
div.product table.t2{
	float:left;
	direction:rtl;
	border:solid 1px #0066CC;
	width:130px;
	height:445px;
	border-radius:30px;
}
div.product table.t3{
	direction:rtl;
	border:solid 1px #0066CC;
	float:left;
	height:445px;
	border-radius:30px;
	width:100px;
}

div.product table:hover{
	box-shadow:#666 10px 10px 10px 5px;
}

.one{
	background-color:#96C8FF;
	border-radius:30px;	
}

.two{
	
	text-align:center;
}

.three{
	
	background-color:#C8E1FF;
}

div.product table tr{
	color:#333;
}

div.product table td{
	color:#333;
	border-radius:30px;	
}

div.product table td:hover{
	color:#333;
	font-size:18px;
	background-color:#69F;
}

div.product table td a{
		text-decoration:none;
		color:#333;
}

div.picture{
	float:left;
	min-height:150px;
	width:220px;	
}

div.namenews{
	float:right;
	min-height:60px;
	width:200px;
	color:#333;
	padding-right:10px;
	font-family:"Courier New", Courier, monospace;
}

.mypic{
	width:220px;
	min-height:150px;	
}

div.left{
	float:left;
	width:340px;
	min-height:485px;
	background-image:url(images/img51.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:250px 350px;	
}

div.right{
	margin-left:350px;
	min-height:485px;
	outline:red 1px dashed;

	
	
}
div.address{
	min-height:100px;
	width:200px;
	margin-left:108px;
	text-align:right;
	padding:3px;
	color:#333;
}

div.form{
	min-height:300px;
	width:280px;
	margin:0 8px;
	text-align:right;
	color:#333;
}

.txt{
 	width:250px;
	min-height:25px;
	font-family:"Courier New", Courier, monospace;
	color:#333;	
}
.button{
	font-family:"Courier New", Courier, monospace;
	width:70px;
	min-height:30px;
}

div.title{
	margin-left:80px;
	min-height:35px;
	width:200px;
	font-family:"Courier New", Courier, monospace;	
}

div.name{
	margin-top:10px;
	margin-left:10px;
	min-height:35px;
	width:270px;
}

div.email{
	margin-top:10px;
	margin-left:10px;
	min-height:35px;
	width:270px;
}

div.message{
	margin-top:8px;
	margin-left:10px;
	min-height:105px;
	width:270px;
}
div.send{
	margin-top:10px;
	margin-left:200px;
	min-height:30px;
	width:80px;	
}

div.footer{
	
}
div.clear{
	width:0;
	height:0;
	clear:both;
	overflow:hidden;	
}