*{
	padding:0;
	margin:0;	
}

body
{
}

div{
	outline:black 1px solid;	
}

div.container{
	width:950px;
	min-height:680px;	
	margin:0 auto;
}

div.header{
	width:950px;
	min-height:53px;	
}

div.main{
	width:950px;
	min-height:585px;
}

div.menu{
	float:right;
	width:250px;
	min-height:585px;
	
}

div.up{
	min-width:250px;
	min-height:140px;	
}



div.down{
	min-width:250px;
	min-height:445px;	
}

div.content{
	margin-right:250px;
	min-height:585px;
}

div.subject{
	min-height:100px;
	padding-top:0.1px;
}
div.pagename{
	float:right;
	min-height:40px;
	width:180px;
	margin-right:40px;
	margin-top:40px;
}


div.text{
	min-height:485px;

}

div.left{
	float:left;
	width:340px;
	min-height:485px;	
}

div.right{
	margin-left:350px;
	min-height:485px;
	outline:red 1px dashed;

	
	
}
div.address{
	min-height:100px;
	width:200px;
	margin:0 8px;
}

div.form{
	min-height:300px;
	width:280px;
	margin:0 8px;
}

div.title{
	margin-left:10px;
	min-height:35px;
	width:200px;	
}

div.name{
	margin-top:10px;
	margin-left:10px;
	min-height:35px;
	width:270px;
}

div.email{
	margin-top:10px;
	margin-left:10px;
	min-height:35px;
	width:270px;
}

div.message{
	margin-top:8px;
	margin-left:10px;
	min-height:105px;
	width:270px;
}
div.send{
	margin-top:10px;
	margin-left:200px;
	min-height:30px;
	width:80px;	
}

div.footer{
	
}
div.clear{
	width:0;
	height:0;
	clear:both;
	overflow:hidden;	
}