*{
	padding:0;
	margin:0;	
}

body{
	background-color:#39F;
		
}
div{
	outline:solid red 1px;	
}

div.container{
	margin:0 auto;
	width:980px;
}

div.header{
	margin:0 auto;
	min-width:980px;
	min-height:80px;
	margin-bottom:15px;
}

div.logo{
	float:right;
	min-width:200px;
	min-height:50px;
	margin:10px 20px;	
}

div.left1{
	float:left;
	min-width:200px;
	min-height:50px;
	margin:10px 20px;
}

div.main{
	margin:0 auto;
	min-width:980px;
	min-height:670px;
	background-color:#CCC;
}

div.menu{
	float:right;
	min-width:250px;	
	min-height:670px;
	
}

div.up{
	min-width:250px;
	min-height:100px;	
}

div.down{
	min-width:250px;
	min-height:530px;
	
}

div.down ul.mymenu{
	list-style-type:none;	
}

div.down a{
	text-decoration:none;
		
}

div.content{
	margin-right:250px;
	min-height:670px;
	margin:auto;
	background-image:url(images/cont.png);
	background-repeat:no-repeat;
	background-size:730px 670px;
}

div.pic{	
	float:left;
	width:350px;
	min-height:670px;
	outline:1px solid black;
}

div.text{
	margin-left:350px;
	min-height:670px;
	outline:1px solid black;

}

div.footer{
	margin:0 auto;
	min-height:50px;
	min-width:980px;
}
div.link{
	float:left;
	min-width:200px;
	min-height:30px;
	margin:10px 20px;;
}

div.copy{
	float:right;
	min-width:200px;
	min-height:30px;
	margin:10px 20px;;
}
div.clear{
	width:0;
	height:0;
	clear:both;
	overflow:hidden;	
}
